<h1>Data Science Tools and Ecosystem<h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>
<ul>
<li>List popular languages for Data Science</li>
<li>List popular libraries used by Data Scientists</li>
<li>List popular Data Science Tools</li>
</ul>

Some of the popular languages that Data Scientists use are:<ol>
<li>Python</li>
<li>SQL</li>
<li>R</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
<li>TensorFlow</li>
<li>Pandas</li>
<li>NumPy</li>
</ol>

| Data Science Tools |
|-----| 
| R Studio |
|Jupyter Notebooks|
|Zeppelin Notebooks|

<h3>Below are a few examples of evaluating arithmetic expressions in Python<h3>

This a simple arithmetic expression to multiply then add integers

In [3]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [6]:
200/60

3.3333333333333335

<h2>Author</h2>
Ester